In [35]:
import pandas as pd 
import numpy as np
import itertools 
import requests
import ortools
import os

In [36]:
from ortools.constraint_solver import routing_enums_pb2
from ortools.constraint_solver import pywrapcp

In [37]:
dt_gx = pd.read_excel('河北.xlsx',sheet_name=None ,dtype={'门店编号':str})
#df_gx = pd.DataFrame.from_dict(dt_gx,orient='index')
#dt_gx['门店编号'][0]

In [10]:
dt_gx.keys()

odict_keys(['Sheet1', 'Sheet2', 'Sheet3', 'Sheet4', '线路28（10号）', 'Sheet5', 'Sheet6', '线路62（15号）', 'Sheet7', '线路31（15号）', 'Sheet8', '线路75（20号）', 'Sheet9', '线路15（20号）', '线路15（22号）', '线路44（23号）', 'Sheet11', '线路22（23号）', 'Sheet12', 'Sheet13', 'Sheet10'])

In [39]:
import pymysql
config = {
    'host': '192.168.1.227',
    'port': 4000,
    'user': 'liyufan',
    'passwd': 'Juno#2021',
    'charset':'utf8mb4',
    'cursorclass':pymysql.cursors.DictCursor
    }
conn = pymysql.connect(**config)

In [40]:
#创建距离，线路dict
distance_dict = {}
route_dict = {}
#遍历key value的值
for key,value in dt_gx.items():
    temp_df = value
    store_info = pd.read_sql("select storeCode,mapX, mapY from xsyx_frxs_base.t_store where storeCode in "+str(tuple(temp_df['门店编号'].values.tolist())),conn)
    temp_df['lat'] = store_info['mapY']
    temp_df['lng'] = store_info['mapX']
    
    #提取门店信息和经纬度
    st_df = temp_df[['门店编号','lng','lat']].copy()
    
    #去除无经纬度的门店
    if st_df['lng'].isnull().any():
        continue
    
    #添加仓库地址
    st_df.loc[-1] = ['0', 114.606, 37.9361]  # adding a row
    st_df.index = st_df.index + 1  # shifting index
    st_df.sort_index(inplace=True)
    #value to list for use itertools.combination
    lnglat = st_df.values.tolist()
    dist_combination = list(itertools.combinations(lnglat, 2))
    
    #路径编码排序
    reordered_list = []
    for i in dist_combination:
        temp_list = []
        index = ''
        if str(i[0][0]) > str(i[1][0]):
            index = str(i[1][0])+'-'+str(i[0][0])
            temp_list.extend(i[1]+i[0])
        else:
            index = str(i[0][0])+'-'+str(i[1][0])
            temp_list.extend(i[0]+i[1])
        temp_list.append(index)
        reordered_list.append(temp_list)
    
    
    cal_combination_df = pd.DataFrame(data=reordered_list,columns=['village_code_0','lon0','lat0','village_code_1','lon1','lat1','village_distance_index'])
    cal_combination_df['village_code_0'] = cal_combination_df['village_code_0'].astype(str)
    cal_combination_df['village_code_1'] = cal_combination_df['village_code_1'].astype(str)
    
    cal_combination_df_return = sub_task(cal_combination_df)
    cal_combination_df_return['navi_distance'] = cal_combination_df_return.apply(lambda df:int(df['navi_distance']),axis=1)
    
    
    d,r = get_route_total_distance(st_df,cal_combination_df_return)
    
    distance_dict[key] = d
    route_dict[key] = r

In [197]:
distance_dict

{'线路01（1号）': 32,
 '线路09（1号）': 34,
 '线路46（10号）': 1039,
 '线路39（10号）': 43,
 '线路21（15号）': 58,
 '线路34（15号）': 1036,
 '线路66（20号）': 27,
 '线路82（20号）': 1040}

In [205]:
route_dict

{'线路01（1号）': '0,450107100884,450107100782,50221117,450102100624,450107101580,450107100245,450107100082,450107100592,450107100432,450107100067,450107101077,50220094,50220620,50220582,50221241,50221004,450107100784,450107101088,450107101438,450107101124,450107101506,450107101045,450102100003,450107100308,450107100398,50221707,450107101083,450107100762,450107100141,450107100846',
 '线路09（1号）': '0,450102100265,50220588,450102100225,450102100507,450102100130,450102100351,450102100257,450102100283,450102100403,50220708,450102100258,450102100054,450102100038,450103101005,450102100502,450102100246,50220660,450102100525,50221528,450102100309,450102100279,450102100274,450102100394,450102100446,50220548,50220106,450102100676,450102100488',
 '线路46（10号）': '0,450107101389,450107101587,450107101576,450107100346,450107100697,450107101445,450107101330,50221989,450107101133,450107101332,450107100829,450107101436,450107101180,450107100108,450107100921,450107100986,50221943,450107100260',
 '线路39（10号）': '0,450105101059,450105100338,50221836,450105100855,450105100961,450105100807,50221756,450105101025,50221476,50222039,450105100432,450105100959,50220232,450105100054,50222091,50221786,450105100321,450105100622,450105100229,50221322,450105101096,450105100350,450105100685,450127100551,50220402,450105100670,450105100811',
 '线路21（15号）': '0,450103100059,50220807,450103100632,450103100889,450103100811,450105100775,450103101240,450103101000,450103101043,450103100371,450103100314,450103100988,450103100538,450103100577,50221878,450102100460,450103100777,450103100586,50220898,450103100633,450103101044,450103100518,450103100769,450103100820,450103100719,450103100782,450103100734,450103100981,450103100593,50221134,50220686,450103101177,450103101108,450103101223,450103100087,450103100561',
 '线路34（15号）': '0,450108100185,50221654,50221494,50220948,450108100415,450108100536,50220788,50220394,50220565,450108100341,50220888,450108100586,450108100298,50220374,450108100520,450108100166,50220405,50220698,450108100398,450108100545,450108100177',
 '线路66（20号）': '0,50222073,450107101329,450102100689,450107100539,450102100582,450102100333,450107100958,450102100705,50221795,450107100523,450102100429,450107100044,450107101473,50221041,50220244,450102100702,450107100181,450107100967,450107100804,450107100022,450107100658,450107100066,450102100120,450107100247,450107100474,450102100299,450102100655',
 '线路82（20号）': '0,450107101180,50221943,450107100986,450107100921,450107100346,450107101436,450107101389,450107101576,450107101445,450107101332,450107101330,450107101133,450107100260,450107100697,450107101587,450107100829,50221989,450107100108'}

In [41]:
distance_df = pd.DataFrame.from_records(distance_dict, index=[0])

In [42]:
route_df = pd.DataFrame.from_records(route_dict, index=[0])

In [43]:
final_result = pd.concat([distance_df, route_df], ignore_index=True)

In [44]:
final_result.rename({0: '路程（km）', 1: '线路'}, inplace=True)

In [45]:
final_result.to_excel('河北线路.xlsx')

In [176]:
route_dict

{'线路01（1号）': '0,450107100308,450107100245,450107100141,450107101438,450107100784,450107101083,450107101124,450107100884,50221241,450107100846,50221004,50221117,450107100398,450102100624,450107100067,450107100082,450107101088,50221707,450107101045,450107101506,450107101077,450107100762,450107100592,450107100432,450102100003,50220620,50220582,50220094,450107100782,450107101580'}

In [12]:
def sub_task(cal_df):
        requests.adapters.DEFAULT_RETRIES = 5
        s = requests.session()
        s.keep_alive = False
        cal_df['navi_distance'] = cal_df.apply(
            lambda df: geo_location_distance(df['lon0'], df['lat0'], df['lon1'], df['lat1']), axis=1)
        return cal_df.copy()

In [11]:
store_df = dt_gx[['门店编号','lng','lat']].copy()

In [16]:
# store_df.loc[-1] = ['0', 108.536, 22.8086]  # adding a row
store_df.index = store_df.index + 1  # shifting index
store_df.sort_index(inplace=True)

In [19]:
gx_lnglat = store_df.values.tolist()

In [21]:
dist_combination = list(itertools.combinations(gx_lnglat, 2))

In [14]:
def geo_location_distance(o_X, o_Y, d_X, d_Y):
#     '''
#     根据经纬度调用高德API获取导航距离（使用距离最短策略:strategy=2）
#     :param o_X:起点经度
#     :param o_Y:起点纬度
#     :param d_X:终点经度
#     :param d_Y:终点纬度
#     :return:导航距离（km为单位）
#     '''
    k = 'c33b02b68bd7785d75ed05f0178a8e05'
    if d_X == 0 or d_Y == 0 or str(d_X).lower().strip() == 'nan':
        return 999
    origin = str(o_X) + ',' + str(o_Y)
    destination = str(d_X) + ',' + str(d_Y)

    # url = "https://restapi.amap.com/v3/direction/driving?key=%s&origin=%s&destination=%s&strategy=0&extensions=base" % (
    #     k, origin, destination)

    url = "https://restapi.amap.com/v3/distance?key=%s&origins=%s&destination=%s&type=1" % (
        k, origin, destination)

    headers = {'Connection': 'close', }

    try:
        data = requests.get(url, headers=headers)
        contest = data.json()
        if contest['status'] == '1':
            # route = contest['route']
            # result = route['paths'][0]
            # out = float(result['distance']) / 1000
            result = contest['results'][0]
            out = float(result['distance']) / 1000
        else:
            print(contest['info'])
            print(d_Y)
            out = 999
    except:
        out = 999
    return out

In [24]:
reordered_list = []
for i in dist_combination:
    temp_list = []
    index = ''
    if str(i[0][0]) > str(i[1][0]):
        index = str(i[1][0])+'-'+str(i[0][0])
        temp_list.extend(i[1]+i[0])
    else:
        index = str(i[0][0])+'-'+str(i[1][0])
        temp_list.extend(i[0]+i[1])
    temp_list.append(index)
    reordered_list.append(temp_list)

In [30]:
reordered_list[:2]

[['0',
  108.536,
  22.8086,
  '450107100141',
  108.321327,
  22.831444,
  '0-450107100141'],
 ['0',
  108.536,
  22.8086,
  '450107101124',
  108.295914,
  22.828035,
  '0-450107101124']]

In [31]:
cal_combination_df = pd.DataFrame(data=reordered_list,columns=['village_code_0','lon0','lat0','village_code_1','lon1','lat1','village_distance_index'])

In [32]:
cal_combination_df.head()

,village_code_0,lon0,lat0,village_code_1,lon1,lat1,village_distance_index
0,0,108.536,22.8086,450107100141,108.321327,22.831444,0-450107100141
1,0,108.536,22.8086,450107101124,108.295914,22.828035,0-450107101124
2,0,108.536,22.8086,450107101506,108.300827,22.824060,0-450107101506
3,0,108.536,22.8086,450107101580,108.295853,22.825460,0-450107101580
4,0,108.536,22.8086,450107100762,108.317253,22.831120,0-450107100762

In [34]:
sub_task(cal_combination_df,0)

0 start!

In [35]:
gx_distance = pd.read_excel('广西_distance.xlsx')

In [36]:
gx_distance.head()

,Unnamed: 0,village_code_0,lon0,lat0,village_code_1,lon1,lat1,village_distance_index,navi_distance
0,0,0,108.536,22.8086,450107100141,108.321327,22.831444,0-450107100141,27.626
1,1,0,108.536,22.8086,450107101124,108.295914,22.828035,0-450107101124,28.676
2,2,0,108.536,22.8086,450107101506,108.300827,22.824060,0-450107101506,27.545
3,3,0,108.536,22.8086,450107101580,108.295853,22.825460,0-450107101580,27.591
4,4,0,108.536,22.8086,450107100762,108.317253,22.831120,0-450107100762,30.302

### 路径规划

In [37]:
store_table = store_df.copy()
store_distance_df = gx_distance.copy()

In [38]:
store_table.head()

           门店编号         lng        lat
0             0  108.536000  22.808600
1  450107100141  108.321327  22.831444
2  450107101124  108.295914  22.828035
3  450107101506  108.300827  22.824060
4  450107101580  108.295853  22.825460

In [39]:
store_distance_df.head()

,Unnamed: 0,village_code_0,lon0,lat0,village_code_1,lon1,lat1,village_distance_index,navi_distance
0,0,0,108.536,22.8086,450107100141,108.321327,22.831444,0-450107100141,27.626
1,1,0,108.536,22.8086,450107101124,108.295914,22.828035,0-450107101124,28.676
2,2,0,108.536,22.8086,450107101506,108.300827,22.824060,0-450107101506,27.545
3,3,0,108.536,22.8086,450107101580,108.295853,22.825460,0-450107101580,27.591
4,4,0,108.536,22.8086,450107100762,108.317253,22.831120,0-450107100762,30.302

In [40]:
store_distance_df['village_code_0'] = store_distance_df['village_code_0'].astype(str)
store_distance_df['village_code_1'] = store_distance_df['village_code_1'].astype(str)

In [103]:
manager = pywrapcp.RoutingIndexManager(store_table.shape[0],
                                       1, 0)
routing = pywrapcp.RoutingModel(manager)

In [104]:
def distance_callback(from_index, to_index):
#         """Returns the distance between the two nodes."""
        # Convert from routing variable Index to distance matrix NodeIndex.
    from_node = manager.IndexToNode(from_index)
    to_node = manager.IndexToNode(to_index)
    
    if to_node == 0:
        return 0
    
#     from_node = from_index
#     to_node = to_index
    from_code = store_table.loc[int(from_node),'门店编号']
    to_code = store_table.loc[int(to_node),'门店编号']
    
#     print(from_code)
#     print(to_code)
    
    
    if from_code > to_code:
        return store_distance_df[
        (store_distance_df['village_code_0'] == to_code) & (store_distance_df['village_code_1'] == from_code)][
        'navi_distance'].values[0]
    elif from_code < to_code:
        return store_distance_df[
        (store_distance_df['village_code_0'] == from_code) & (store_distance_df['village_code_1'] == to_code)][
        'navi_distance'].values[0]
    else:
        return 0

transit_callback_index = routing.RegisterTransitCallback(distance_callback)

In [105]:
# Define cost of each arc.
routing.SetArcCostEvaluatorOfAllVehicles(transit_callback_index)

In [106]:
# Setting first solution heuristic.
search_parameters = pywrapcp.DefaultRoutingSearchParameters()
search_parameters.first_solution_strategy = (
    routing_enums_pb2.FirstSolutionStrategy.PATH_CHEAPEST_ARC)

In [107]:
# Solve the problem.
solution = routing.SolveWithParameters(search_parameters)

In [108]:
def print_solution(manager, routing, solution):
    """Prints solution on console."""
    print('Objective: {} km'.format(solution.ObjectiveValue()))
    index = routing.Start(0)
    plan_output = 'Route for vehicle 0:\n'
    route_distance = 0
    while not routing.IsEnd(index):
        plan_output += ' {} ->'.format(manager.IndexToNode(index))
        previous_index = index
        index = solution.Value(routing.NextVar(index))
        route_distance += routing.GetArcCostForVehicle(previous_index, index, 0)
    plan_output += ' {}\n'.format(manager.IndexToNode(index))
    print(plan_output)
    plan_output += 'Route distance: {}km\n'.format(route_distance)

In [109]:
 # Print solution on console.
if solution:
    print_solution(manager, routing, solution)

Objective: 35 km
Route for vehicle 0:
 0 -> 21 -> 3 -> 18 -> 23 -> 15 -> 13 -> 14 -> 7 -> 28 -> 29 -> 26 -> 6 -> 4 -> 25 -> 20 -> 8 -> 2 -> 30 -> 12 -> 11 -> 9 -> 10 -> 5 -> 22 -> 1 -> 27 -> 24 -> 19 -> 16 -> 17 -> 0

In [113]:
store_table.head(2)

           门店编号         lng        lat
0             0  108.536000  22.808600
1  450107100141  108.321327  22.831444

In [115]:
store_table.iloc[21,:]

门店编号    50221707
lng      108.301
lat      22.8231
Name: 21, dtype: object

In [114]:
store_distance_df.head(2)

,Unnamed: 0,village_code_0,lon0,lat0,village_code_1,lon1,lat1,village_distance_index,navi_distance
0,0,0,108.536,22.8086,450107100141,108.321327,22.831444,0-450107100141,27.626
1,1,0,108.536,22.8086,450107101124,108.295914,22.828035,0-450107101124,28.676

In [112]:
get_route_total_distance(store_table,store_distance_df)

(35,
 '0,50221707,450107101506,450107100432,50220094,450107100846,450102100003,450107101088,450107100884,450107101438,450107100782,450107100784,450107101077,450107101580,50220620,50221004,450107100082,450107101124,450102100624,450107100245,450107101045,450107100592,450107100067,450107100762,50221117,450107100141,50220582,50221241,450107100398,450107101083,450107100308')

In [177]:
check_list = '0,50221707,450107101506,450107100432,50220094,450107100846,450102100003,450107101088,450107100884,450107101438,450107100782,450107100784,450107101077,450107101580,50220620,50221004,450107100082,450107101124,450102100624,450107100245,450107101045,450107100592,450107100067,450107100762,50221117,450107100141,50220582,50221241,450107100398,450107101083,450107100308'.split(',')

In [178]:
check_list_1 = "0,450107100308,450107100245,450107100141,450107101438,450107100784,450107101083,450107101124,450107100884,50221241,450107100846,50221004,50221117,450107100398,450102100624,450107100067,450107100082,450107101088,50221707,450107101045,450107101506,450107101077,450107100762,450107100592,450107100432,450102100003,50220620,50220582,50220094,450107100782,450107101580".split(',')

In [179]:
len(check_list) == len(check_list_1)

True

In [18]:
def get_route_total_distance(store_table,store_distance_df):
    manager = pywrapcp.RoutingIndexManager(store_table.shape[0],
                                       1, 0)
    routing = pywrapcp.RoutingModel(manager)
    
    def distance_callback(from_index, to_index):
#         """Returns the distance between the two nodes."""
        # Convert from routing variable Index to distance matrix NodeIndex.
        from_node = manager.IndexToNode(from_index)
        to_node = manager.IndexToNode(to_index)
    
        if to_node == 0:
            return 0
    
#     from_node = from_index
#     to_node = to_index
        from_code = store_table.loc[int(from_node),'门店编号']
        to_code = store_table.loc[int(to_node),'门店编号']
    
#     print(from_code)
#     print(to_code)
    
    
        if from_code > to_code:
            return store_distance_df[
            (store_distance_df['village_code_0'] == to_code) & (store_distance_df['village_code_1'] == from_code)][
            'navi_distance'].values[0]
        elif from_code < to_code:
            return store_distance_df[
            (store_distance_df['village_code_0'] == from_code) & (store_distance_df['village_code_1'] == to_code)][
            'navi_distance'].values[0]
        else:
            return 0

    transit_callback_index = routing.RegisterTransitCallback(distance_callback)
    # Define cost of each arc.
    routing.SetArcCostEvaluatorOfAllVehicles(transit_callback_index)
    # Setting first solution heuristic.
    search_parameters = pywrapcp.DefaultRoutingSearchParameters()
    search_parameters.first_solution_strategy = (
        routing_enums_pb2.FirstSolutionStrategy.PATH_CHEAPEST_ARC)
    solution = routing.SolveWithParameters(search_parameters)
    total_distance = 0
    route_order = ''
    
    def print_solution(manager, routing, solution):
        t_d = solution.ObjectiveValue()
        r_o =[]
        index = routing.Start(0)
        while not routing.IsEnd(index):
            r_o.append(store_table.loc[int(index),'门店编号'])
            index = solution.Value(routing.NextVar(index))
            
        return t_d,','.join(r_o)
    
    if solution:
        total_distance,route_order = print_solution(manager, routing, solution)
    return total_distance,route_order

In [ ]:
for route in route_list:
#     读取线路门店列表和距离矩阵.;
    store_table = store_df.copy()
    store_distance_df = gx_distance.copy()
#     定义manager
    manager = pywrapcp.RoutingIndexManager(store_table.shape[0],
                                       1, 0)
    routing = pywrapcp.RoutingModel(manager)

In [182]:
dt_gx_R = pd.read_excel('广西.xlsx',sheet_name='线路46（10号）' ,dtype={'门店编号':str})

In [184]:
store_info = pd.read_sql("select storeCode,mapX, mapY from xsyx_frxs_base.t_store where storeCode in "+str(tuple(dt_gx_R['门店编号'].values.tolist())),conn)
dt_gx_R['lat'] = store_info['mapY']
dt_gx_R['lng'] = store_info['mapX']
    
#提取门店信息和经纬度
st_df = dt_gx_R[['门店编号','lng','lat']].copy()
    
#添加仓库地址
st_df.loc[-1] = ['0', 108.536, 22.8086]  # adding a row
st_df.index = st_df.index + 1  # shifting index
st_df.sort_index(inplace=True)
#value to list
lnglat = st_df.values.tolist()
dist_combination = list(itertools.combinations(lnglat, 2))
#路径编码排序
reordered_list = []
for i in dist_combination:
    temp_list = []
    index = ''
    if str(i[0][0]) > str(i[1][0]):
        index = str(i[1][0])+'-'+str(i[0][0])
        temp_list.extend(i[1]+i[0])
    else:
        index = str(i[0][0])+'-'+str(i[1][0])
        temp_list.extend(i[0]+i[1])
    temp_list.append(index)
    reordered_list.append(temp_list)
    
    
cal_combination_df = pd.DataFrame(data=reordered_list,columns=['village_code_0','lon0','lat0','village_code_1','lon1','lat1','village_distance_index'])
cal_combination_df['village_code_0'] = cal_combination_df['village_code_0'].astype(str)
cal_combination_df['village_code_1'] = cal_combination_df['village_code_1'].astype(str)
    
cal_combination_df_return = sub_task(cal_combination_df)
cal_combination_df_return['navi_distance'] = cal_combination_df_return.apply(lambda df:int(df['navi_distance']),axis=1)
    
d,r = get_route_total_distance(st_df,cal_combination_df_return)
    
distance_dict[key] = d
route_dict[key] = r

INVALID_PARAMS
22.847441
INVALID_PARAMS
22.843071
INVALID_PARAMS
22.85091
INVALID_PARAMS
22.841141
INVALID_PARAMS
22.846415
INVALID_PARAMS
22.851015
INVALID_PARAMS
22.842207
INVALID_PARAMS
22.840839
INVALID_PARAMS
22.840839
INVALID_PARAMS
22.846491
INVALID_PARAMS
22.851671
INVALID_PARAMS
22.84799
INVALID_PARAMS
22.851633
INVALID_PARAMS
22.847956
INVALID_PARAMS
22.840839
INVALID_PARAMS
22.83625
INVALID_PARAMS
22.850891

In [185]:
cal_combination_df_return.head()

,village_code_0,lon0,lat0,village_code_1,lon1,lat1,village_distance_index,navi_distance
0,0,108.536,22.8086,450107100697,108.307602,22.847441,0-450107100697,31
1,0,108.536,22.8086,450107100346,108.314674,22.843071,0-450107100346,29
2,0,108.536,22.8086,450107100260,108.307945,22.850910,0-450107100260,30
3,0,108.536,22.8086,450107100829,108.305450,22.841141,0-450107100829,31
4,0,108.536,22.8086,450107101133,108.309860,22.846415,0-450107101133,31

In [194]:
manager = pywrapcp.RoutingIndexManager(st_df.shape[0],
                                       1, 0)
routing = pywrapcp.RoutingModel(manager)
    
def distance_callback(from_index, to_index):
#         """Returns the distance between the two nodes."""
        # Convert from routing variable Index to distance matrix NodeIndex.
    from_node = manager.IndexToNode(from_index)
    to_node = manager.IndexToNode(to_index)
    
    if to_node == 0:
        return 0
    
#     from_node = from_index
#     to_node = to_index
    from_code = st_df.loc[int(from_node),'门店编号']
    to_code = st_df.loc[int(to_node),'门店编号']
    
#     print(from_code)
#     print(to_code)
    
    
    if from_code > to_code:
        return cal_combination_df_return[
        (cal_combination_df_return['village_code_0'] == to_code) & (cal_combination_df_return['village_code_1'] == from_code)][
        'navi_distance'].values[0]
    elif from_code < to_code:
        return cal_combination_df_return[
        (cal_combination_df_return['village_code_0'] == from_code) & (cal_combination_df_return['village_code_1'] == to_code)][
        'navi_distance'].values[0]
    else:
        return 0

transit_callback_index = routing.RegisterTransitCallback(distance_callback)
    # Define cost of each arc.
routing.SetArcCostEvaluatorOfAllVehicles(transit_callback_index)
    # Setting first solution heuristic.

In [195]:
search_parameters = pywrapcp.DefaultRoutingSearchParameters()
search_parameters.first_solution_strategy = (
    routing_enums_pb2.FirstSolutionStrategy.PATH_CHEAPEST_ARC)
solution = routing.SolveWithParameters(search_parameters)
total_distance = 0
route_order = ''
    
def print_solution(manager, routing, solution):
    t_d = solution.ObjectiveValue()
    r_o =[]
    index = routing.Start(0)
    while not routing.IsEnd(index):
        r_o.append(st_df.loc[int(index),'门店编号'])
        index = solution.Value(routing.NextVar(index))
            
    return t_d,','.join(r_o)
    
if solution:
    total_distance,route_order = print_solution(manager, routing, solution)
    print(total_distance)
    print(route_order)

1040
0,450107101180,50221943,450107100986,450107100921,450107100346,450107101436,450107101389,450107101576,450107101445,450107101332,450107101330,450107101133,450107100260,450107100697,450107101587,450107100829,50221989,450107100108

In [196]:
cal_combination_df_return

,village_code_0,lon0,lat0,village_code_1,lon1,lat1,village_distance_index,navi_distance
0,0,108.536000,22.808600,450107100697,108.307602,22.847441,0-450107100697,31
1,0,108.536000,22.808600,450107100346,108.314674,22.843071,0-450107100346,29
2,0,108.536000,22.808600,450107100260,108.307945,22.850910,0-450107100260,30
3,0,108.536000,22.808600,450107100829,108.305450,22.841141,0-450107100829,31
4,0,108.536000,22.808600,450107101133,108.309860,22.846415,0-450107101133,31
5,0,108.536000,22.808600,450107101332,108.313339,22.851015,0-450107101332,31
6,0,108.536000,22.808600,450107101180,108.318245,22.842207,0-450107101180,29
7,0,108.536000,22.808600,450107100921,108.313583,22.840839,0-450107100921,29
8,0,108.536000,22.808600,450107100986,108.313583,22.840839,0-450107100986,29
9,0,108.536000,22.808600,450107100108,NaN,NaN,0-450107100108,999
10,0,108.536000,22.808600,450107101330,108.312767,22.846491,0-450107101330,30
11,0,108.536000,22.808600,450107101445,108.308823,22.851671,0-450107101445,30
12,0,108.536000,22.808600,450107101436,108.308678,22.847990,0-450107101436,31
13,0,108.536000,22.808600,450107101576,108.309586,22.851633,0-450107101576,30
14,0,108.536000,22.808600,450107101587,108.306175,22.847956,0-450107101587,31
15,0,108.536000,22.808600,50221943,108.313583,22.840839,0-50221943,29
16,0,108.536000,22.808600,50221989,108.257683,22.836250,0-50221989,36
17,0,108.536000,22.808600,450107101389,108.307877,22.850891,0-450107101389,30
18,450107100346,108.314674,22.843071,450107100697,108.307602,22.847441,450107100346-450107100697,1
19,450107100260,108.307945,22.850910,450107100697,108.307602,22.847441,450107100260-450107100697,0
20,450107100697,108.307602,22.847441,450107100829,108.305450,22.841141,450107100697-450107100829,2
21,450107100697,108.307602,22.847441,450107101133,108.309860,22.846415,450107100697-450107101133,3
22,450107100697,108.307602,22.847441,450107101332,108.313339,22.851015,450107100697-450107101332,2
23,450107100697,108.307602,22.847441,450107101180,108.318245,22.842207,450107100697-450107101180,5
24,450107100697,108.307602,22.847441,450107100921,108.313583,22.840839,450107100697-450107100921,4
25,450107100697,108.307602,22.847441,450107100986,108.313583,22.840839,450107100697-450107100986,4
26,450107100108,NaN,NaN,450107100697,108.307602,22.847441,450107100108-450107100697,999
27,450107100697,108.307602,22.847441,450107101330,108.312767,22.846491,450107100697-450107101330,4
28,450107100697,108.307602,22.847441,450107101445,108.308823,22.851671,450107100697-450107101445,1
29,450107100697,108.307602,22.847441,450107101436,108.308678,22.847990,450107100697-450107101436,2
...,...,...,...,...,...,...,...,...
141,450107100108,NaN,NaN,50221989,108.257683,22.836250,450107100108-50221989,999
142,450107100108,NaN,NaN,450107101389,108.307877,22.850891,450107100108-450107101389,999
143,450107101330,108.312767,22.846491,450107101445,108.308823,22.851671,450107101330-450107101445,2
144,450107101330,108.312767,22.846491,450107101436,108.308678,22.847990,450107101330-450107101436,0
145,450107101330,108.312767,22.846491,450107101576,108.309586,22.851633,450107101330-450107101576,1
146,450107101330,108.312767,22.846491,450107101587,108.306175,22.847956,450107101330-450107101587,1
147,450107101330,108.312767,22.846491,50221943,108.313583,22.840839,450107101330-50221943,2
148,450107101330,108.312767,22.846491,50221989,108.257683,22.836250,450107101330-50221989,9
149,450107101330,108.312767,22.846491,450107101389,108.307877,22.850891,450107101330-450107101389,1
150,450107101436,108.308678,22.847990,450107101445,108.308823,22.851671,450107101436-450107101445,1
151,450107101445,108.308823,22.851671,450107101576,108.309586,22.851633,450107101445-450107101576,0
152,450107101445,108.308823,22.851671,450107101587,108.306175,22.847956,450107101445-450107101587,1
153,450107101445,108.308823,22.851671,50221943,108.313583,22.840839,450107101445-50221943,4
154,450107101445,108.308823,22.851671,50221989,108.257683,22.836250,450107101445-50221989,8
155,450107101389,108.307877,22.850891,450107101445,108.308823,22.851671,450107101389-450107101445,0
156,450107101436,108.308678,22.847990,450107101576,108.309586,22.851633,450107101436-450107101576,2
157,450107101436,108.308678,22.847990,450107101587,108.306175,22.847956,450107101436-450107101587,1
158,450107101436,108.308678,22.847990,50221943,108.313583,22.840839,450107101436-50221943,5
159,450107101436,108.308678,22.847990,50221989,108.257683,22.836250,450107101436-50221989,9
160,450107101389,108.307877,22.850891,450107101436,108.308678,22.847990,450107101389-450107101436,0
161,450107101576,108.309586,22.851633,450107101587,108.306175,22.847956,450107101576-450107101587,1
162,450107101576,108.309586,22.851633,50221943,108.313583,22.840839,450107101576-50221943,4
163,450107101576,108.309586,22.851633,50221989,108.257683,22.836250,450107101576-50221989,10
164,450107101389,108.307877,22.850891,450107101576,108.309586,22.851633,450107101389-450107101576,0
165,450107101587,108.306175,22.847956,50221943,108.313583,22.840839,450107101587-50221943,4
166,450107101587,108.306175,22.847956,50221989,108.257683,22.836250,450107101587-50221989,8
167,450107101389,108.307877,22.850891,450107101587,108.306175,22.847956,450107101389-450107101587,1
168,50221943,108.313583,22.840839,50221989,108.257683,22.836250,50221943-50221989,7
169,450107101389,108.307877,22.850891,50221943,108.313583,22.840839,450107101389-50221943,4
170,450107101389,108.307877,22.850891,50221989,108.257683,22.836250,450107101389-50221989,8